body {
    color: whitesmoke;
    background-color: rgb(10, 20, 30);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    margin: 1rem;
    text-align: center;
}

ol,
ul {
    text-align: left;
}

a {
    color: whitesmoke;
}

a:hover {
    color: lightgrey;
}

p {
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

img {
    width: 50%;
    height: auto;
}

.padding-bottom-1 {
    padding-bottom: 1rem;
}
